*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:rgb(216,241,101);
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    width:400px;
    padding:30px;
    background:white;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid gray;
    border-radius:8px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:green;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

#result{
    margin-top:20px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}